body{
  background-color: #8A2BE2;
}

.container{
  overflow: hidden;
  scroll-behavior: smooth;
  background-color: #e6ecf0;
  margin: 0 auto;
  margin-top: 1%;
  width: 98%;
  height: 55.5rem;
  border: 3px;
  border-radius: 1rem;
  padding: 10px;
}

.inside-components{
    margin-top: 1%;
}

.top-nav-bar{
  position: relative;
  margin: 0 auto;
  margin-top: -1.9%;
  margin-left: -10px;
  width: 101.75%;
  height: 3rem;
  background-color: #24292e;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
#user-icon-nav{
  position: relative;
  filter: invert();
  width: 3%;
  margin-left: 3rem;
  margin-top: 6px;
}

.search-box{
  position: relative;
  margin-left: 5rem;
  margin-top: -43px;
}

.form-control{
  position: absolute;
  margin-top: 1.2%;
  margin-left: 1rem;
  height: 1.25rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-search{
  position: relative;
  margin-left: 15.9%;
  margin-top: .88rem;
  height: 1.7rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}

.avatar{
  margin-left: 4%;
  margin-top: 2%;
}
#avatar-img{
  width: 15rem;
  border-radius: .5rem;
}

.user-info{
  margin-left: 4%;
  display: flex;
  flex-direction: column;
}

.user-info p{
  margin-top: 2px;
}

.user-info2 p{
  margin-top: 2px;
}

.custom-hr{
  margin: 0;
  width: 15%;
  height: .5px;
  background-color: #808080;
}

.nav-panel{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 34rem;
  margin-top: -3.4rem;
  color: white;

}
.nav-panel h4{
  padding: .65rem;
}

.top-content-hr{
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  background-color: #808080;
  width: 65%;
  height: .5px;
  margin-top: -26rem;
  margin-left: 20rem;
}

.top-content{
  display: flex;
  flex-basis: auto;
  margin-left: 4rem;
  margin-right: 100rem;
  margin-top: -3.8rem;
}

.top-content p{
  margin-right: 4rem;
}

.middle-content{
  margin: 0 auto;
  margin-left: 20rem;
  margin-top: 2rem;
  /*background-color: pink;*/
  width: 65%;
  height: 30rem;
}

#box1{
  margin: 0;
  margin-top: 1rem;
  background-color: pink;
  width: 40%;
  height: 5rem;
  padding: 1rem;
}
#box2{
  margin: 0;
  margin-top: 1rem;
  background-color: pink;
  width: 40%;
  height: 5rem;
  padding: 1rem;
}
#box3{
  margin: 0;
  margin-top: 1rem;
  background-color: pink;
  width: 40%;
  height: 5rem;
  padding: 1rem;
}
