body{
  background-color: #8A2BE2;
}

.container{
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 4%;
  width: 92%;
  height: 500px;
  border: 3px;
  border-radius: 1rem;
  padding: 10px;
}

.inside-components{
    margin-top: 1%;
}
